/*global changes*/
main{
    position: relative;
    top:150px;
}
img{
    height:50px;
    width:50px;
}
ul{
    display: flex;
    list-style-type: none;
}
ul li{
    padding:0px 3%;
}
/*header section*/
header {
    display: flex;
    position: fixed;
    top:0px;
    width:100%;
    height: 100px;
    right:0px;
    background-color: white;
    z-index: 10;
}
header h1{
    margin:auto;
    margin-left: 5%;
}
header nav{
    display: flex;
    position: relative;
    right:10px;
    width: 500px;
}
header nav ul{
    align-items: center;
    width: -webkit-fill-available;
}
header nav ul li{
    display: flex;
    align-items: center;
}
header nav ul li img{
    display: none;
}
@media screen and (min-width:491px) and (max-width:760px){
    header nav ul li a{
        text-align: -webkit-center;
    }
}
@media screen and (max-width:490px){
    header h1{
        font-size: large;
    }
    header nav ul{
        padding-left:0px;
    }
}

/*about section*/
#about #content{
    display: flex;
    align-items: center;
}
#content p{
    width: 75%;
}
#profilePic{
    height:200px;
    width:auto;
    position:relative;
    margin: 0px 20px;
}
@media screen and (min-width:491px) and (max-width:760px){
    #about #content {
        flex-direction: column;
        align-items: normal;
    }
    #profilePic{
        height: 500px;
        max-width: 600px;
    }
}

/*projects section*/
#projects ul{
    list-style-type: disc;
    display: block;
}
#projects ul li a{
    color:purple;
}
#projects ul li a:visited{
    color:grey;
}
@media screen and (max-width:490px){
    #about #content{
        flex-direction: column-reverse;
    }
}

/*skills section*/
#skills ul{
    flex-wrap: wrap;
}
#skills ul li p{
    display: none;
}
@media screen and (max-width:490px){
    #skills{
        max-width: 100%;
    }
    #skills ul{
        flex-wrap: wrap;
    }
}

/*footer/contact section*/
footer{
    position: relative;
    top:150px;
}
footer .logo{
    display: flex;
    align-items: center;
}
@media screen and (min-width:491px) and (max-width:760px){
    footer ul{
        padding-left: 0px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width:100%;
    }
    footer .logo img{
        height: 75px;
        width: 75px;
    }
    footer .logo span{
        font-size: large;
    }
}
@media screen and (max-width:490px){
    #footer ul{
        justify-content: space-between;
        padding: 0;
    }
}